<a href="https://colab.research.google.com/github/cjfal/TIL/blob/master/%EC%B4%88%EB%B3%B4_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.2 Intro

변수 = 변수 * 값 형식의 문장은 변수 *= 값으로 줄여서 표현할 수도 있습니다.

In [ ]:
r = 0.8
t = 110
r * t

88.0

# 1.3 리스트(list)

In [ ]:
family = ['a','b','c','d']

In [ ]:
len(family)

4

In [ ]:
family.remove('c')

In [ ]:
family

['a', 'b', 'd']

# 1.4 인터프리터와 컴파일러

- 한마디 할 때마다 동시통역해주는 방식 : 인터프리트(interpret) 방식
- 말하는 것을 처음부터 끝까지 듣고 나서 한꺼번에 바꿔주는 것 : 컴파일(compile) 방식

# 1.6 파이썬 인터프리터

In [ ]:
print('직각삼각형 그리기\n')
leg = int(input('변의 길이: '))

for i in range(leg):
  print('* ' * (i + 1))

area = (leg ** 2) / 2
print('넓이:', area)

직각삼각형 그리기

변의 길이: 2
*
* *
넓이: 2.0

In [ ]:
print('정수의 제곱\n')
leg = int(input('입력: '))

squre = leg * leg

print('출력:', squre)

정수의 제곱

입력: 3
출력: 9

# 2장 - 제어구조

- while을 사용하는 반복문
- 조건문(if-elif-else)
- for를 사용하는 반복문

# 2.1 while을 사용하는 반복문

In [ ]:
num =1

In [ ]:
#while num <= 100:
#  print(num)
#  num = num + 1

## 연습 문제: 입력받은 숫자만큼 반복하기(while)

- input()으로 사용자로부터 정수를 한 개 입력받아, 그 숫자를 숫자 크기만큼 반복해서 출력하는
파이썬 스크립트를 작성하세요. 이때 출력 앞에 공백을 한 칸 주어서, 입력과 출력이 구분되게 합
니다.
- 단, while 문을 사용하세요.

In [ ]:
num = int(input('입력: '))

i = 0
while i < num:
  print('' , num)
  i = i + 1

입력: 4
 4
 4
 4
 4

In [ ]:
num = int(input())

i = 0
while i < num:
    print('', num)
    i += 1

3
 3
 3
 3

## 연습 문제: 제곱표(while)
- 정수를 한 개 입력받아, 1부터 입력받은 수까지 각각에 대해 제곱을 구해 프린트하는 프로그램을 작성해 보세요. 단, while 문을 사용하세요.

In [ ]:
num = int(input())

i = 1
while i < num+1:
  print(i, i**2)
  i = i+1

5
1 1
2 4
3 9
4 16
5 25

## 연습문제
- 고무 공을 100 미터 높이에서 떨어뜨리는데, 이 공은 땅에 닿을 때마다 원래 높이의 3/5 만큼 튀어오릅니다. 공이 열 번 튈 동안, 그때마다 공의 높이를 계산하라.

In [ ]:
top = 100
ball = 0
while ball < 10:
  top = top * 0.6
  ball = ball + 1
  print(ball , round(top,4))

1 60.0
2 36.0
3 21.6
4 12.96
5 7.776
6 4.6656
7 2.7994
8 1.6796
9 1.0078
10 0.6047

## 4 연습 문제: 코드를 보고 실행 결과 맞히기
다음 코드 를 읽고, 실행 결과를 알아맞혀 보세요.
```
number = 358

rem = rev = 0
while number >= 1:
  rem = number % 10
  rev = rev * 10 + rem
  number = number // 10

print(rev)
```

In [ ]:
number = 358

rem = rev = 0
while number >= 1:
  rem = number % 10
  rev = rev * 10 + rem
  number = number // 10

print(rev)

853

# 2.2 조건문(if-elif-else)

In [ ]:
a = 1234 * 4
b = 13456 / 2

In [ ]:
if a > b: 
  print('a') 
else:
  print('b')

b

In [ ]:
a = 48
b = 4

if a % b == 0:
  print(f'{a}는 {b}로 나누어 떨어집니다.')
elif a % b != 0:
  print(f'{a}는 {b}로 나누어 떨어지지 않습니다.')

48는 4로 나누어 떨어집니다.

In [ ]:
a = 48
b = 4

if a % b == 0:
  print(f'{a}는 {b}로 나누어 떨어집니다.')
else:
  print(f'{a}는 {b}로 나누어 떨어지지 않습니다.')

48는 4로 나누어 떨어집니다.

In [ ]:
# 10보다 큰 숫자가 들어오면 멈추는 반복문
max = 10
while True:
  num = int(input())
  if num > max:
    print(num, 'is too big!')
  break

2

## 2.2.1 연습 문제: 숫자 읽기(1˜3)

- input()을 사용해 사용자로부터 입력받은 숫자를 한글로 출력하는 프로그램을 작성하세요. 단,사용자는 1 이상 3 이하의 정수 중 하나를 입력한다고 가정합니다.

In [ ]:
max = 3
while True:
  num = int(input())
  if num > max:
    print(num, 'is too big!')
  break

if num == 1:
  print('일')
elif num == 2:
  print('이')
elif num == 3:
  print('삼')

4
4 is too big!

## 2.2.2 연습 문제: 단위 기호

- 길이, 부피, 무게나 금액을 표기할 때 1000을 ‘k’로 표기하곤 합니다. 예를 들어, 3000m는 3km로 표기하는 것이 일반적입니다.

- 다음은 입력받은 숫자가 1000보다 크면 1자리부터 100자리까지의 숫자를 생략하고 ‘k’를 붙여주는 파이썬 코드입니다.

In [ ]:
num = int(input())
result = str(num)

if num >= 1000:
  result = str(num // 1000) + 'k'
elif num >= 0:
  pass

print(result)

5000
5k

- 백만 이상의 숫자를 입력받았을 때 1˜10만자리 숫자를 생략하고 ‘M’을 붙여서 출력하게 코드를
수정해보세요.

In [ ]:
num = int(input())
result = str(num)

if num >= 1000000:
  result = str(num // 1000000) + 'M'
elif num >= 0:
  pass

print(result)

8000000
8M

## 2.2.3 연습 문제: 양수만 덧셈하기

- input()으로 사용자로부터 입력받은 정수를 계속 더해나가다가, 음수가 입력되면 중단하고 그 전까지 계산한 값을 출력하는 파이썬 스크립트를 작성하세요.

In [ ]:
sum = 0
while True:
    num = int(input())
    if num < 0:
        break
    else:
       sum += num

print(sum)

10
50
60
-10
120

## 2.2.4 연습 문제: 윤년 판별하기

문제

- 윤년은 역법을 실제 태양년에 맞추기 위해 여분의 하루 또는 월을 끼우는 해입니다. 현재 사용하는 그레고리력의 윤년 규칙은 다음과 같습니다.
 1. 서력 기원 연수가 4로 나누어 떨어지는 해는 윤년으로 한다. (1988년, 1992년, 1996년,2004년, 2008년, 2012년, 2016년, 2020년, 2024년, 2028년, 2032년, 2036년, 2040년, 2044년 . . . )
 2. 서력 기원 연수가 4, 100으로 나누어 떨어지는 해는 평년으로 한다. (1900년, 2100년, 2200년, 2300년, 2500년. . . )
 3. 서력 기원 연수가 4, 100, 400으로 나누어 떨어지는 해는 윤년으로 둔다. (2000년, 2400년. . . )

 이 규칙에 따라, 연도를 나타내는 정수를 입력으로 받아서 윤년인지 아닌지 출력하는 프로그램을작성해 보세요

In [ ]:
year = int(input())

if year % 4 != 0 :
  print('평년')
elif year % 100 != 0:
  print('윤년')
elif year % 400 != 0:
  print('평년')
else:
  print('윤년')

1999
평년

# 2.3 for를 사용하는 반복문

In [ ]:
avengers = ['아이언맨','토르','캡틴아메리카','헐크']

In [ ]:
for x in avengers:
  print(x, len(x))

아이언맨 4
토르 2
캡틴아메리카 6
헐크 2

In [ ]:
list(range(2,7))

[2, 3, 4, 5, 6]

In [ ]:
a = [4,5,6,7]
for i in a:
  print(i)

4
5
6
7

In [ ]:
for i in range(4,8):
  print(i)

4
5
6
7

## 2.3.1 연습 문제: 입력받은 숫자만큼 반복하기(for)
문제
- 2.1.1 연습 문제와 같이, 사용자로부터 input()으로 정수를 한 개 입력받아, 그 숫자를 숫자 크기만큼 반복해서 출력하는 파이썬 스크립트를 작성하세요. 이때 출력 앞에 공백을 한 칸 주어서,입력과 출력이 구분되게 합니다.

- 단, 이번에는 for 문을 사용하세요.

In [ ]:
num = int(input())

for i in range(num):
    print('', num)

5
 5
 5
 5
 5
 5

In [ ]:
list(range(num))

[0, 1, 2, 3, 4]

## 2.3.2 연습 문제: 제곱표(for)
문제
- 연습 문제 2.2와 같이, 정수를 한 개 입력받아 1부터 입력받은 수까지 각각에 대해 제곱을 구해프린트하는 프로그램을 작성해 보세요. 단, 이번에는 for 문을 사용하세요.

In [ ]:
num = int(input())

for i in range(num):
  print(i ** i)

5
3125
3125
3125
3125
3125

## 3.1.1 연습 문제: 구구단

In [ ]:
def gugudan_all():
  for i in range(m,10):
    for j in range(1, 10):
      print(i , '*' , j , '=' ,i * j)

In [ ]:
def gugudan_num(m):
  for j in range(1, 10):
    print(m , '*' , j , '=' ,m * j)

In [ ]:
gugudan_num(3)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
for i in range(2,10):
    for j in range(1, 10):
      print(i , '*' , j ,i * j)

2 * 1 2
2 * 2 4
2 * 3 6
2 * 4 8
2 * 5 10
2 * 6 12
2 * 7 14
2 * 8 16
2 * 9 18
3 * 1 3
3 * 2 6
3 * 3 9
3 * 4 12
3 * 5 15
3 * 6 18
3 * 7 21
3 * 8 24
3 * 9 27
4 * 1 4
4 * 2 8
4 * 3 12
4 * 4 16
4 * 5 20
4 * 6 24
4 * 7 28
4 * 8 32
4 * 9 36
5 * 1 5
5 * 2 10
5 * 3 15
5 * 4 20
5 * 5 25
5 * 6 30
5 * 7 35
5 * 8 40
5 * 9 45
6 * 1 6
6 * 2 12
6 * 3 18
6 * 4 24
6 * 5 30
6 * 6 36
6 * 7 42
6 * 8 48
6 * 9 54
7 * 1 7
7 * 2 14
7 * 3 21
7 * 4 28
7 * 5 35
7 * 6 42
7 * 7 49
7 * 8 56
7 * 9 63
8 * 1 8
8 * 2 16
8 * 3 24
8 * 4 32
8 * 5 40
8 * 6 48
8 * 7 56
8 * 8 64
8 * 9 72
9 * 1 9
9 * 2 18
9 * 3 27
9 * 4 36
9 * 5 45
9 * 6 54
9 * 7 63
9 * 8 72
9 * 9 81

# 3.2 반환(return) 문

In [ ]:
def tri(m,n):
  return (m * n / 2)

In [ ]:
tri (3, 4)

6.0

In [ ]:
def quiz():
  ans = input('1+2= ')
  return 1+2 == int(ans)

In [ ]:
quiz()

1+2= 3

True

In [ ]:
quiz()

1+2= 5

False

## 3.2.1 연습 문제: 숫자 읽기 함수(1˜10)

In [ ]:
def korean_number(m):
  if m == 1:
    return('일')
  elif m ==2 :
    return('이')
  else:
    print('1~2의 값을 입력하세요')

In [ ]:
korean_number(2)

'이'

In [ ]:
korean_number(3)

1~2의 값을 입력하세요

## 3.2.2 연습 문제: 함수 정의하기

### 문제 1  다음 triple() 함수를 완성하세요.

In [ ]:
def triple(x):
  return (x * 3)

In [ ]:
triple(2)

6

In [ ]:
triple('x')

'xxx'

### 문제 2
- 오늘의 날짜 객체를 구하는 코드는 다음과 같습니다. (코드를 이해하지 못해도 이 문제를 풀 수 있습니다.

- 태어난 해를 네 자리 숫자로 입력하면 한국 나이를 반환하는 함수 korean age()를 작성하세요.

In [ ]:
from datetime import datetime
today = datetime.today()
today

datetime.datetime(2022, 7, 6, 23, 45, 23, 814087)

In [ ]:
 today.year

2022

In [ ]:
def myage():
  from datetime import datetime
  today = datetime.today()

  x = int(input("나이를 입력하세요:"))
  
  if 1900 > x  or x > (today.year):
    print("1900~부터의 4자리의 숫자를 입력하세요")
  else:
    return ( today.year + 1 - x)

In [ ]:
myage()

나이를 입력하세요:1888
1900~부터의 4자리의 숫자를 입력하세요

## 3.2.3 연습 문제: 이자(단리) 계산

### 문제 1
- 원금(p), 단리 이율(r), 기간(t)이 주어졌을 때 이자를 구하는 함수 simple interest()를 작성
하세요.

In [ ]:
def si(p,r,t):
  inter = p * r * t
  return inter

In [ ]:
si(10000000,0.03875,5)

1937500.0

In [ ]:
si(1100000,0.05,5/12)

22916.666666666668

###문제 2
- 원금(p), 단리 이율(r), 기간(t)이 주어졌을 때 원리금을 계산하는 함수 simple interest amount()를
작성하세요

In [ ]:
def sia(p,r,t):
  amount = p * (1+ r*t )
  return amount

In [ ]:
sia(100000000,0.03875,5)

119375000.00000001

In [ ]:
sia(1100000,0.05,5/12)

1122916.6666666665

## 3.2.4 연습 문제: 복리 계산

- 문제
- 복리 예금의 원금(p), 연이율(r), 기간(t), 복리 횟수(n)에 대한 원리금을 계산하는 함수 compound interest amount()를 작성하세요.

In [ ]:
def cia(p,r,t,n):
  global amount_cia
  amount_cia = p* ( 1+ r / n) **(n*t)
  return amount_cia

In [ ]:
cia(1500000,0.043,6,4)

1938836.8221341055

In [ ]:
cia(1500000, 0.043, 6, 1/2)

1921236.0840000005

In [ ]:
 amount_cia

1938836.8221341055

# 3.3 지역변수, 전역변수

In [ ]:
# global 로 지정 가능

# 3.5 람다(lambda)

- lambda 매개변수 : 표현식

- map(함수, 리스트)
> 리스트로부터 원소를 하나씩 꺼내서 함수를 적용시킨 다음, 그 결과를 새로운 리스트에 담아준답니다. 

- reduce(함수, 시퀀스)
> 형식은 위와 같구요, 시퀀스(문자열, 리스트, 튜플)의 원소들을 누적적으로(?) 함수에 적용시킨다.

- filter(함수, 리스트)
> 리스트에 들어있는 원소들을 함수에 적용시켜서 결과가 참인 값들로 새로운 리스트를 만들어줍니다

In [ ]:
 from functools import reduce

In [ ]:
 (lambda x,y: x + y)(10, 20)

30

In [ ]:
 list(map(lambda x: x ** 2, range(5)))

[0, 1, 4, 9, 16]

In [ ]:
reduce(lambda x, y: x + y, [0, 1, 2, 3, 4])

10

In [ ]:
 reduce(lambda x, y: y + x,'abcde')

'edcba'

In [ ]:
 list(filter(lambda x: x < 5, range(10)))

[0, 1, 2, 3, 4]

In [ ]:
list(filter(lambda x: x % 2, range(10)))

[1, 3, 5, 7, 9]

## 3.5.1 연습 문제: 놀이 공원 (1)

- 문제
> 놀이 기구의 이름과 키 제한을 나타낸 문자열을 입력받아서, 놀이 기구의 이름, 탑승 가능한 키의 하한(下限)과 상한(上限)을 각 행에 출력합니다. 코드는 다음과 작성하며, ch03 폴더 아래에 파일명을 ridereader.py로 저장합니다.

```
def read(text):
# 이곳에 코드를 작성하세요.
return ridename, cmmin, cmmax
if __name__ == "__main__":
ridename, cmmin, cmmax = read(input())
print("이름:", ridename)
print("하한:", cmmin)
print("상한:", cmmax)
```

In [ ]:
def read(text):
    ridename, limit = map(str.strip, text.split(':'))
    
    cmmin = cmmax = None
    if '~' in limit:
      cmmin, cmmax = map(lambda x: int(x.replace('cm', '')), limit.split('~'))
    elif "이상" in limit:
      cmmin = int(limit.split("cm")[0])

    return ridename, cmmin, cmmax

In [ ]:
if __name__ == "__main__":
  ridename, cmmin, cmmax = read(input())
  print("이름:", ridename)
  print("하한:", cmmin)
  print("상한:", cmmax)

와일드 윙: 100cm 이상
이름: 와일드 윙
하한: 100
상한: None

________________________

# 4.1 자료형

In [1]:
type(6)

int

In [2]:
type('A')

str

In [3]:
 type(2.8)

float

In [4]:
 type(3+4j)

complex

시퀀스

In [5]:
 type("Love your Enemies, for they tell you your Faults.")

str

In [6]:
type(['love', 'enemy', 'fault'])

list

In [7]:
type(('love', 'enemy', 'fault'))

tuple

In [8]:
# 매핑
type({'one': 1, 'two': 2, 'three': 3})

dict

In [9]:
# 불
type(False)

bool

In [10]:
# 세트
fruits = {'apple', 'banana', 'orange'}

## 4.1.1 연습 문제: 회문 판별 함수 만들기

In [11]:
# 문자열을 슬라이싱 해서, 문자열에 속한 문자들을 거꾸로 배열한 문자열을 얻을 수 있습니다.
'Python'[::-1]

'nohtyP'

In [12]:
# 문자열의 lower() 메서드를 이용해 소문자만으로 이루어진 문자열을 얻을 수 있습니다.
'Python'.lower()

'python'

In [13]:
# replace() 메서드를 이용해 문자열 일부를 다른 문자열로 바꾼 문자열을 얻을 수 있습니다.
'Python'.replace('P', 'J')

'Jython'

### 문제 1
- 주어진 단어가 회문인지 판별하는 함수 palindrome()을 작성하세요. 단, 문자열 입력은 모두 소문자로 이뤄지며 공백을 포함하지 않는다고 가정합니다.

In [14]:
def palindrome(a):
  print(a == a[::-1])

In [15]:
palindrome("anna")

True

In [16]:
palindrome("banana")

False

### 문제2

- 대문자와 소문자가 섞여 있더라도 회문으로 판정하도록 함수를 개선하세요.

In [17]:
def palindrome1(b):
  c = b.lower()
  print(c == c[::-1])

In [18]:
palindrome1("Anna")

True

In [19]:
palindrome("Anna")

False

### 문제3

- 공백이 섞여 있더라도 회문으로 판정하도록 함수를 개선하세요

In [20]:
def palindrome2(b):
  c = b.lower()
  d = c.replace(' ','')
  print(d == d[::-1])

In [21]:
palindrome2("My gym")

True

## 4.2 문자열과 리스트

- 찾고 싶은 문자의 위치(인덱스) \\
```문자열이름.find("찾고싶은 문자")```
- 공백 지우기 \\
```문자열이름.rstrip()```
- 문자열을 분할한 리스트를 생성하는 split() \\
```문자열이름.split()```
- 리스트맨뒤에 원소 추가 \\
```리스트이름.append(원하는 원소)```
- 리스트를 원소 크기 작은순으로 정렬 \\
```리스트이름.sort()```
- 맨 앞(0번)에 2를 삽입 \\
```리스트이름.insert(0, 2)```
- 4번 원소를 삭제 \\
```del 리스트이름[4]```
- 원소를 삭제할 때 pop()을 사용할 수도 있습니다. pop()은 리스트에서 삭제한 원소를 반환(return)하므로 변수로 받아서 나중에 사용할 수도 있죠. \\
```a = 리스트이름.pop()```
- 원소에 새로운 값을 지정 \\
``` 리스트이름[인덱스] = 새로운 요소 ```

In [22]:
# 성적표 예제 : 리스트 안 리스트를 활용하기

chulsu = [90, 85, 70]
younghee = [88, 79, 92]
yong = [100, 100, 100]
minsu = [90, 60, 70]

students = [chulsu, younghee, yong, minsu]

for scores in students:
  total = 0
  for s in scores:
    total = total + s
  average = total / 3
  print(scores, total, average)

[90, 85, 70] 245 81.66666666666667
[88, 79, 92] 259 86.33333333333333
[100, 100, 100] 300 100.0
[90, 60, 70] 220 73.33333333333333

### 4.2.1 연습 문제: 각 자리 숫자의 합을 구하는 함수(리스트를 이용)

- 정수 num을 매개변수로 받아 각 자리 숫자(digit)의 합을 계산하는 sumOfDigits() 함수를 작성하세요. 단, 나눗셈을 이용하지 말고 풀어보세요.

In [27]:
def sumOfDigits(num):
  numlist = list(str(num))
  sd = 0
  for i in range(len(numlist)):
    sd += int(numlist[i])
  return sd

In [28]:
sumOfDigits(643)

13

In [29]:
sumOfDigits(47253)

21

----

### 4.2.2 연습 문제: 줄기와 잎 그림

- 농구팀에 속한 12명의 득점을 다음과 같이 score 리스트로 나타냈습니다.
```
score = [0, 0, 2, 4, 7, 7, 9]
score += [11, 11, 13, 18]
score += [20]
score
```


- 문제 1. stem leaf에 데이터를 채우는 프로그램을 작성하세요. 데이터가 채워진 결과는 다음과 같습니다.
```
stem_leaf
[[0, 0, 2, 4, 7, 7, 9], [1, 1, 3, 8], [0]]
stem_leaf[0]
[0, 0, 2, 4, 7, 7, 9]
stem_leaf[1]
[1, 1, 3, 8]
stem_leaf[2]
[0]
```

In [110]:
score = [0, 0, 2, 4, 7, 7, 9]
score += [11, 11, 13, 18]
score += [20]
score

[0, 0, 2, 4, 7, 7, 9, 11, 11, 13, 18, 20]

In [111]:
# 문제 1
score[-1] = score[-1] - 20
a = score[1:7]
b = score[7:-1]
c = score[-1:]

for i in range(len(b)):
  b[i] = b[i] - 10

stem_leaf = [a,b,c]

In [112]:
stem_leaf[0]

[0, 2, 4, 7, 7, 9]

In [104]:
stem_leaf[1]

[1, 1, 3, 8]

In [105]:
stem_leaf[2]

[0]

- 문제 2. stem leaf를 다음과 같은 형태로 프린트하는 프로그램을 작성하세요.

In [106]:
for i in range(0,3):
  print("%d:"%i, stem_leaf[i])

0: [0, 2, 4, 7, 7, 9]
1: [1, 1, 3, 8]
2: [0]

In [107]:
# 풀이
for s in score:
    d, m = divmod(s, 10)
    stem_leaf[d].append(m)

### 4.2.3 연습 문제: 각 자리 숫자의 합을 구하는 함수(map()을 이용)

- 정수 num을 매개변수로 받아 각 자리 숫자(digit)의 합을 계산하는 sumOfDigits() 함수를 작성하세요

In [ ]:
def sumOfDigits(num):
  numlist = list(str(num))
  sd = 0
  for i in range(len(numlist)):
    sd += int(numlist[i])
  return sd

In [113]:
def sumOfDigits(num):
  return sum(map(int, list(str(num))))

In [114]:
print(sum(map(int, list(str(int(input()))))))

643
13

### 4.2.4 연습 문제: 소수 구하기

- 수작업으로 10 이하의 소수를 구하는 예입니다.

```
L = list(range(2, 11)) # 찾고자 하는 범위의 자연수를 나열
L
[2, 3, 4, 5, 6, 7, 8, 9, 10]
L.remove(4)
L.remove(6)
L.remove(8)
L.remove(10) # 2의 배수를 지움
L.remove(9) # 3의 배수를 지움
L # 결과
[2, 3, 5, 7]
```

- 방식으로 찾고자 하는 범위(예: 30 이하)의 소수를 구하는 것이 문제입니다. 수작업으로 하지 말고 반복문을 사용하세요.

In [116]:
M = list(range(2, int(input())))
L =  []
for i in M:
  if i % 2 == 0 :
    L.append(i)
  elif i % 3 == 0 :
    L.append(i)
  elif i % 5 == 0 :
    L.append(i)

L = [2,3,5].append(L)

print(L)

30
None

In [117]:
def prime(n):
  L = L2 = list(range(2, n + 1))

  for p in L:
    if p in L2:
      for q in L:
        if (q in L2) and (q!=p and q%p==0):
          L2.remove(q)

  print(L2)

if __name__ == '__main__':
  prime(int(input()))

30
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

### 4.2.5 연습 문제: 진법 변환

- 나눗셈을 이용해 십진수를 이진수로 변환하는 방법은 다음과 같습니다.
>십진수를 2로 나눈 몫을 구하고 그 수를 다시 2로 나누는 일을 몫이 0이 될 때까지 반복하고, 각 단계에서 구한 나머지를 거꾸로 쓰면 이진수가 됩니다.

- 문제
> 십진수를 입력받아 그 숫자에 해당하는 이진수의 각 자리를 리스트로 출력하는 프로그램을 작성하세요. (순서에 유의)

In [29]:
num = int(input())
L = []
for i in range(1,num):
  L.insert(0,num%2)
  num = num//2

  if num//2 == 0:
    L.insert(0,num%2)
    break

print(L)

87
[1, 0, 1, 0, 1, 1, 1]

In [31]:
num = int(input())
L = []
while num//2 > 0 :
  L.insert(0,num%2)
  num = num//2

  if num//2 == 0:
    L.insert(0,num%2)

print(L)

87
[1, 0, 1, 0, 1, 1, 1]

In [24]:
L = []
num = 13
L.insert(0,num%2)  #1
num = num//2   #6
L.insert(0,num%2) #0
num = num//2   #3
L.insert(0,num%2)  #1
num = num//2   #1   
L.insert(0,num%2)  #1

print(L,num//2)

[1, 1, 0, 1] 0

In [ ]:
# 책 풀이
d = int(input())
m = d
b = []

while True:
    d, m = divmod(d, 2)
    b.insert(0, m)
    if d == 0:
        break

print(b)

## 튜플 Tuple

튜플을 만들 때는 위와 같이 괄호를 써도 되고 안 써도 됩니다. 다만, 원소가 없는 튜플을 만들때는 괄호를 꼭 써주세요.

원소를 하나만 가진 튜플을 만들 땐 원소 뒤에 콤마(,)를 꼭 찍어주시구요.

그리고 튜플은 리스트와 달리 원소값을 직접 바꿀 수 없기 때문에, 문자열에서 했던 것처럼 오려
붙이는 방법을 써야한다는 것을 알아두세요.

튜플을 리스트로, 리스트를 튜플로 쉽게 바꿀 수도 있답니다.

### 4.3.1 연습 문제: 내일의 날짜 구하기

- 문제6
사용자로부터 날짜를 나타내는 세 개의 숫자를 입력받습니다.

첫 번째 숫자는 연도를 나타내는 네자리 숫자이고, 두 번째 숫자는 월을, 세 번째 숫자는 일을 나타냅니다.

입력받은 날짜를 mm/dd/yyyy 형식으로 출력합니다.

월을 두 자리 숫자(01, 02, 03, . . . , 12)로,일을 두 자리 숫자(01, 02, 03, . . . , 31)로, 연도를 네 자리 숫자로 나타냅니다.

입력받은 날짜의 다음 날에 해당하는 날짜도 같은 형식으로 출력합니다. 단, 윤년은 무시합니다(2월은 항상 28일까지 있다고 가정합니다)

In [41]:
cld = list(map(int , input().split()))

ty = 0
tm = 0
td = 0

if cld[1] == 1 or 3 or 5 or 7 or 8 or 10 or 12 :
  if cld[2] == 31 :
    tm = cld[1]+1
    td = 1
    ty = cld[0]
    if tm == 13 :
      tm = 1
      ty = cld[0]+1
  else :
    tm = cld[1]
    td = cld[2] + 1
    ty = cld[0]

elif cld[1] == 2 :
  if cld[2] == 28 :
    tm = cld[1]+1
    td = 1
    ty = cld[0]
  else :
    tm = cld[1]
    td = cld[2] + 1
    ty = cld[0]

else :
  if cld[2] == 30 :
    tm = cld[1]+1
    td = 1
    ty = cld[0]
  else :
    tm = cld[1]
    td = cld[2] + 1
    ty = cld[0]

tmr = [ty,tm,td]

for i in [1,2]:
  if cld[i] < 10 :
    cld[i] = '0'+str(cld[i])

for i in [1,2]:
  if tmr[i] < 10 :
    tmr[i] = '0'+str(tmr[i])






print(cld[1],'/',cld[2],'/',cld[0] , sep="")
print(tmr[1],'/',tmr[2],'/',tmr[0] , sep="")

2018 12 31
12/31/2018
01/01/2019